In [1]:
print("HOPE AI")

HOPE AI

In [2]:
input("Enter your institute name? :")

Enter your institute name? :HOPE AI

'HOPE AI'

In [4]:
#inputs
input("Enter your name:")
input("Enter your age:")
input("Enter your school name:")
input("Enter your drgree:")

Enter your name:sdp
Enter your age:23
Enter your school name:srams
Enter your drgree:B.E

'B.E'

In [9]:
#Add
a=43
b=34
c=a+b
print("a=",a)
print("b=",b)
print("add=",c)

a= 43
b= 34
add= 77

In [11]:
#Sub
a=43
b=34
c=a-b
print("a=",a)
print("b=",b)
print("Sub=",c)

a= 43
b= 34
Sub= 9

In [12]:
#Multplication
a=63
b=97
c=a*b
print("a=",a)
print("b=",b)
print("Mul=",c)

a= 63
b= 97
Mul= 6111

In [14]:
#Division
a=76
b=31
c=a/b
print("a=",a)
print("b=",b)
print("Float Div=",c)

a= 76
b= 31
Float Div= 2.4516129032258065

In [15]:
#Floor Division
a=76
b=31
c=a//b
print("a=",a)
print("b=",b)
print("Floor Div=",c)

a= 76
b= 31
Floor Div= 2

In [16]:
#Modulos
a=76
b=31
c=a%b
print("a=",a)
print("b=",b)
print("Mod=",c)

a= 76
b= 31
Mod= 14

In [20]:
#Power
a=4
b=4
c=a**b
print("a=",a)
print("b=",b)
print("power=",c)

a= 4
b= 4
power= 256

In [21]:
#EXTRA ASSIGNMENT LEVEL - 2

In [65]:
for temp in range(20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for temp in range(10,20):
    print(temp, end=" ")

10 11 12 13 14 15 16 17 18 19

In [10]:
range_1= range(10,20)
list_1 = list(range_1)
print(list_1)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
range_1 = range(10,20)
list_1 = list(range_1)
print(list_1)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
print(list_1)
print("No. of items in list_1:",len(list_1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
No. of items in list_1: 10

In [14]:
a="Artificial Intelligence"
print(a)
for i in a:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [15]:
input("your name-")
input("your age-")
input("your Profession-")

your name-Sandeep
your age-27
your Profession-HR

'HR'

In [19]:
tuple=(1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [20]:
Tuple1=(0,1,2,3)
tuple2=(tuple,Tuple1)
print(tuple2)

((1, 'Welcome', 2, 'Hope'), (0, 1, 2, 3))

In [25]:
numbgrp=(20,10,16,19,25,1,276,188)
print(numbgrp)
for i in numbgrp:
    if(i%2==0):
        print(i,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even

In [26]:
print(numbgrp)
for i in numbgrp:
    if(i%2!=0):
        print(i,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [27]:
i=int(input("value"))
if(i==10):
    print("Correct")

value10
Correct

In [30]:
passwd=input("Enter your password")
if(passwd=="HOPE@123"):
    print("your password is correct")

Enter your passwordHOPE@123
your password is correct

In [32]:
age=int(input("enter your Age:"))
if(age<18):
    print("Children")
elif(age<25):
    print("Adult")
elif(age<50):
    print("Citizen")
else:
    print("Senior Citizen")

enter your Age:25
Citizen